*{
    box-sizing: border-box;
}
.parent{
    height: 100%;
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    
   
}
.input, .display{
    width: 45%;
    height: 70%;
    background-color: white;
    border: 2px solid red;
    margin: 20px;
    text-align: center;
}
