label{
    display: inline-block;
    width: 8 0px;
    margin: 5px;
 
}
.errors{
    color: red;
}
.main{
    background-color: bisque;
    height: 100%;
    overflow: auto;
}
input{
border: 2px solid grey;
}