<div class="main">
  <h1 *ngIf="!id">create student form</h1>
  <h1 *ngIf="id">update student form </h1>
  <form [formGroup]="studentForm">
    <label for="">name:</label>
    <input type="text" formControlName="name">
    <br>
    <label for="">phone:</label>
    <input type="text" formControlName="phone">
    <br>
    <label for="">city:</label>
    <input type="text" formControlName="city">
    <br>
    <label for="">fee:</label>
    <input type="text" formControlName="fee">
    <br>
    <label for="">image:</label>
    <input type="text" formControlName="image">
    <br>

    <button class="btn btn-info" (click)="submit()">{{id ?  'update' : 'create'}}</button>
  </form>
</div>