<div class="top">
    <div class="buttons">
        <input type="text" placeholder="search" [(ngModel)]="term" (keyup)="filter()">
        <!-- <button  (keypress)="filter()">search</button> -->
        <select [(ngModel)]="column">
            <option>name</option>
            <option>phone</option>
        </select>

        <select [(ngModel)]="order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <button class="btn btn-info" (click)="sort()">sort</button>
        <label for="">select page</label>
        <select name="" id="" [(ngModel)]="page" (change)="pagination()">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <marquee behavior="" direction="left">Naveen Patel</marquee>
   
        
    </div>
</div>
<div class="main">

    <div *ngFor="let item of students" class="card">
        <img height="100px" width="100px" style="margin: auto;" src="{{item.image}}" alt=""> 
        <b> {{item.name}}</b>
        {{item.phone}} <br>
        {{item.city}} <br>
        {{item.fee}} <br> 
        {{item.id}} <br>

        <div class="but"> <button class="btn btn-danger" (click)="delete(item.id)">delete</button>
            <button class="btn btn-primary" nj (click)="edit(item.id)">Edit</button>
        </div>
    </div>
</div>