<div class="main">
    <div class="left">
        <h1>
            <ins> My website</ins>
        </h1>

        <div class="items">
            <h4 routerLink="home">Home</h4>
            <h4 routerLink="about">About</h4>
            <h4 routerLink="data-binding">Data-binding</h4>
            <h4 routerLink="calculator">Calculator</h4>
            <h4 routerLink="rectangle">Rectangle</h4>
            <h4 routerLink="circle">Circle</h4>
            <h4 routerLink="bmi">Bmi</h4>
            <h4 routerLink="directive">Directive</h4>
            <h4 routerLink="marks">Marks</h4>
            <h4 routerLink="shopping">Shopping</h4>
            <h4 routerLink="event">Event</h4>
            <h4 routerLink="cars">Cars</h4>
            <h4 routerLink="vehicle">vehicle</h4>
            <h4 routerLink="accounts">Accounts</h4>
            <button class="logout" routerLink="/login">Logout</button>
        </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>